{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>this is about page welcome</h1>
                <p>some text here</p>
            </div>
        </div>
    </div>
{{end}}