<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bs5.min.css"
          rel="stylesheet">
    <link href="https://unpkg.com/notie/dist/notie.min.css" rel="stylesheet" type="text/css">

    <title>Home</title>

    <style>
        .room-img {
            max-width: 50%;
            margin-top: 1.5em;
        }

        .my-footer {
            margin-top: 1em;
            padding: 1.5em;
            background-color: midnightblue;
            color: azure;
            text-align: center;
        }

        .my-title {
            padding: 1em;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="navbarDropdown" role="button">
                        Rooms
                    </a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <li><a class="dropdown-item" href="generals.html">general's Quarters</a></li>
                        <li><a class="dropdown-item" href="majors.html">Major's Suite</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservation.html">Book Now</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Search for Availability</h1>
        </div>
    </div>

    <form action="reservation.html" class="needs-validation" method="get" novalidate>

        <div class="form-row">
            <div class="col">
                <div class="form-row" id="reservation-dates">

                    <div class="col-xs-6">
                        <input class="form-control" name="start" placeholder="Arrival" type="text">
                    </div>

                    <div class="col-xs-6">
                        <input class="form-control" name="end" placeholder="Departure" type="text">
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Name</label>
            <div class="row">
                <div class="col-xs-4"><input class="form-control" type="text"></div>
                <div class="col-xs-4"><input class="form-control" type="text"></div>
                <div class="col-xs-4"><input class="form-control" type="text"></div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">

                <a class="btn btn-success" href="/make-reservation">Check for availability</a>
            </div>
        </div>
    </form>


    <div class="row my-title">
        <div class="col">
            <h1>hello world</h1>
        </div>
        <div class="col">
            <h1>hello world</h1>
        </div>
        <div class="col">
            <h1>hello world</h1>
        </div>
    </div>

</div>

<div class="row my-footer">
    <div class="col">
        left
    </div>
    <div class="col">
        middle
    </div>
    <div class="col">
        right
    </div>
</div>

<script crossorigin="anonymous" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
<script src="https://unpkg.com/notie"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        let forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

    const elem = document.getElementById('reservation-dates');
    const rangepicker = new DateRangePicker(elem, {
        format: "yyyy-mm-dd"
    });


    function notify(msg, msgType) {

        notie.alert({
            type: msgType,
            text: msg,
        })
    }

    function notifyModel(title, text, icon, confirmButtonText){
        Swal.fire({
            title: title,
            text: text,
            icon: icon,
            confirmButtonText: confirmButtonText
        })
    }
</script>


</body>
</html>